data/wsdl_production/SBT_Account_Query.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/SBT%20Account"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/SBT%20Account"
></xsd:import
><xsd:element
 name="AccountQuery_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sSearchSpec"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="AccountQuery_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfSbtAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/SBT%20Account"
 targetNamespace="http://www.siebel.com/xml/SBT%20Account"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSbtAccount"
 type="xsdLocal1:ListOfSbtAccount"
></xsd:element
><xsd:complexType
 name="ListOfSbtAccountTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSbtAccount"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfSbtAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtAccount"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountStatus"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HomePage"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MainEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NumberofEmployees"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBIK"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCurAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTDateReg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTDateStateReg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTINN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTKPP"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTMainFaxNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTMainPhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOGRN"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKATO"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKPO"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKVED"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOPF"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTrademark"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAttractionChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCompanySize"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKFS"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKOGU"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTShortName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStateRegDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStateRegPlace"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTaxRate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTaxSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSourceSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStatusChangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfCutAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfCutAddress"
></xsd:element
><xsd:element
 name="ListOfSbtAuthorizationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfSbtAuthorizationStatus"
></xsd:element
><xsd:element
 name="ListOfSbtCurrentAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfSbtCurrentAccount"
></xsd:element
><xsd:element
 name="ListOfSbtOkved"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfSbtOkved"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCutAddress"
><xsd:sequence
><xsd:element
 name="CutAddress"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:CutAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CutAddress"
><xsd:sequence
><xsd:element
 name="ApartmentNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Province"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StreetAddress"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTActual"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBuilding"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTHouse"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTJuridical"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPostal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTUnit"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAddressType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAppartment"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRegion"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSettlement"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtAuthorizationStatus"
><xsd:sequence
><xsd:element
 name="SbtAuthorizationStatus"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:SbtAuthorizationStatus"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtAuthorizationStatus"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTServiceBack"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtCurrentAccount"
><xsd:sequence
><xsd:element
 name="SbtCurrentAccount"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:SbtCurrentAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtCurrentAccount"
><xsd:sequence
><xsd:element
 name="BIK"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Bank"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CorrespondentAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrentAccount"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryCurrentAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtOkved"
><xsd:sequence
><xsd:element
 name="SbtOkved"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:SbtOkved"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtOkved"
><xsd:sequence
><xsd:element
 name="CodeOKVED"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryOKVED"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ValueOKVED"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="AccountQuery_Input"
><part
 name="AccountQuery_Input"
 element="tns:AccountQuery_Input"
></part
></message
><message
 name="AccountQuery_Output"
><part
 name="AccountQuery_Output"
 element="tns:AccountQuery_Output"
></part
></message
><portType
 name="AccountQuery"
><operation
 name="AccountQuery"
><input
 message="tns:AccountQuery_Input"
></input
><output
 message="tns:AccountQuery_Output"
></output
></operation
></portType
><binding
 name="AccountQuery"
 type="tns:AccountQuery"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="AccountQuery"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:AccountQuery"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="SBT_spcAccount_spcQuery"
><port
 binding="tns:AccountQuery"
 name="AccountQuery"
><soap:address
 location="https://siebel.dasreda.ru:443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>