data/wsdl/SBT_Query_Page.WSDL

<?xml version="1.0" encoding="UTF-8"?><definitions
 xmlns="http://schemas.xmlsoap.org/wsdl/"
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:xsdLocal1="http://www.siebel.com/xml/SBT%20Opportunity"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsdLocal3="http://www.siebel.com/xml/SBT%20Party%20Relationship%20To"
 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsdLocal4="http://www.siebel.com/xml/SBT%20Account"
 xmlns:xsdLocal2="http://www.siebel.com/xml/SBT%20Contact"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:tns="http://siebel.com/CustomUI"
><types
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://siebel.com/CustomUI"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:import
 namespace="http://www.siebel.com/xml/SBT%20Account"
></xsd:import
><xsd:import
 namespace="http://www.siebel.com/xml/SBT%20Party%20Relationship%20To"
></xsd:import
><xsd:import
 namespace="http://www.siebel.com/xml/SBT%20Contact"
></xsd:import
><xsd:import
 namespace="http://www.siebel.com/xml/SBT%20Opportunity"
></xsd:import
><xsd:element
 name="SBTOpptyQueryPage_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sSortSpec"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iPageSize"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iStartRowNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sNewQuery"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sSearchSpec"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTOpptyQueryPage_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal1:ListOfSbtOpportunity"
></xsd:element
><xsd:element
 name="sLastPage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampIn"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampOut"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTContactQueryPage_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sSortSpec"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iPageSize"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iStartRowNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sNewQuery"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sSearchSpec"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTContactQueryPage_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal2:ListOfSbtContact"
></xsd:element
><xsd:element
 name="sLastPage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampIn"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampOut"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTPartyRelQueryPage_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sSortSpec"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iPageSize"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iStartRowNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sNewQuery"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sSearchSpec"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTPartyRelQueryPage_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal3:ListOfSbtPartyRelationshipTo"
></xsd:element
><xsd:element
 name="sLastPage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampIn"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampOut"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTAccountQueryPage_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sSortSpec"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iPageSize"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iStartRowNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sNewQuery"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sSearchSpec"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTAccountQueryPage_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal4:ListOfSbtAccount"
></xsd:element
><xsd:element
 name="sLastPage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampIn"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampOut"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTAccountLiteQueryPage_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sSortSpec"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iPageSize"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iStartRowNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sNewQuery"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sSearchSpec"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTAccountLiteQueryPage_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal4:ListOfSbtAccount"
></xsd:element
><xsd:element
 name="sLastPage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampIn"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampOut"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTContactLiteQueryPage_Input"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="sSortSpec"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iPageSize"
 type="xsd:string"
></xsd:element
><xsd:element
 name="iStartRowNum"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sNewQuery"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sSearchSpec"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
><xsd:element
 name="SBTContactLiteQueryPage_Output"
><xsd:complexType
><xsd:sequence
><xsd:element
 name="Error_spcCode"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Error_spcMessage"
 type="xsd:string"
></xsd:element
><xsd:element
 ref="xsdLocal2:ListOfSbtContact"
></xsd:element
><xsd:element
 name="sLastPage"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampIn"
 type="xsd:string"
></xsd:element
><xsd:element
 name="sTimestampOut"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:element
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 xmlns:xsdLocal1="http://www.siebel.com/xml/SBT%20Opportunity"
 targetNamespace="http://www.siebel.com/xml/SBT%20Opportunity"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSbtOpportunity"
 type="xsdLocal1:ListOfSbtOpportunity"
></xsd:element
><xsd:complexType
 name="ListOfSbtOpportunityTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSbtOpportunity"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal1:ListOfSbtOpportunity"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtOpportunity"
><xsd:sequence
><xsd:element
 name="Opportunity"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Opportunity"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Opportunity"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ApplicationAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OptyCurrencyCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Description"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SalesMethod"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SalesStage"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTApplicationQuantity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBilledDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOptyNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOrderNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPortalSection"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTProductCategory"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTProductName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPromoCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTimestamp"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStatusChangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTProcessingDeadline"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRequestedAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerInChargeIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerGOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerTB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerVSP"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfAccount"
></xsd:element
><xsd:element
 name="ListOfContact"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfContact"
></xsd:element
><xsd:element
 name="ListOfOpportunityProduct"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfOpportunityProduct"
></xsd:element
><xsd:element
 name="ListOfSbtOpportunityPaymentsHistory"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfSbtOpportunityPaymentsHistory"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfAccount"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="AccountIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOptyAccountRelationType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfContact"
><xsd:sequence
><xsd:element
 name="Contact"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:Contact"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Contact"
><xsd:sequence
><xsd:element
 name="ContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOptyContactRelationType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfOpportunityProduct"
><xsd:sequence
><xsd:element
 name="OpportunityProduct"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:OpportunityProduct"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="OpportunityProduct"
><xsd:sequence
><xsd:element
 name="CurrencyCode"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductDescription"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductQuantity"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTVATAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ProductIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPortalSection"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTProductSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTProductSource"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTUndiscountedAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTUndiscountedVATAmount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSequenceNumber"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTVATRate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfSbtPromoCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal1:ListOfSbtPromoCode"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtOpportunityPaymentsHistory"
><xsd:sequence
><xsd:element
 name="SbtOpportunityPaymentsHistory"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:SbtOpportunityPaymentsHistory"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtOpportunityPaymentsHistory"
><xsd:sequence
><xsd:element
 name="Amount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrencyCode2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Payer"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PaymentType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtPromoCode"
><xsd:sequence
><xsd:element
 name="SbtPromoCode"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal1:SbtPromoCode"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtPromoCode"
><xsd:sequence
><xsd:element
 name="PromoCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://www.siebel.com/xml/SBT%20Contact"
 xmlns:xsdLocal6="http://www.siebel.com/xml/SBT%20Contact"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSbtContact"
 type="xsdLocal6:ListOfSbtContact"
></xsd:element
><xsd:complexType
 name="ListOfSbtContactTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSbtContact"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal6:ListOfSbtContact"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtContact"
><xsd:sequence
><xsd:element
 name="Contact"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal6:Contact"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Contact"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Created"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCellularPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Citizenship"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DateofBirth"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTWorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IsAgent"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="JobTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MF"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MaritalStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PlaceofBirth"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRegDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerDepartment"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerExtEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPersonalPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAdditionalOccupation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTEducation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTEducationDescription"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTINN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerDO"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerGOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerTerBank"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOccupation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOptyContactRelationType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSNILS"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTYearsofService"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAvatarURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPhotoLURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPhotoSURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAttractionChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTFax"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSourceSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStatusChangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmployeeNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBankCRMEmployeeId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAbout"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOptyContactRelationTypeCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRatingINT"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfCutAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal6:ListOfCutAddress"
></xsd:element
><xsd:element
 name="ListOfPartyRelationshipTo"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal6:ListOfPartyRelationshipTo"
></xsd:element
><xsd:element
 name="ListOfBckwrdPartyRelTo"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal6:ListOfBckwrdPartyRelTo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCutAddress"
><xsd:sequence
><xsd:element
 name="CutAddress"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal6:CutAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CutAddress"
><xsd:sequence
><xsd:element
 name="ApartmentNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Province"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTActual"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAddressType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBuilding"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTHouse"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTJuridical"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPostal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTUnit"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StreetAddress"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAppartment"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRegion"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSettlement"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAddressTypeCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfPartyRelationshipTo"
><xsd:sequence
><xsd:element
 name="PartyRelationshipTo"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal6:PartyRelationshipTo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="PartyRelationshipTo"
><xsd:sequence
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipType"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBckwrdRelationshipType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelatedAccountIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelatedContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfBckwrdPartyRelTo"
><xsd:sequence
><xsd:element
 name="BckwrdPartyRelTo"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal6:BckwrdPartyRelTo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="BckwrdPartyRelTo"
><xsd:sequence
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipType"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBckwrdRelationshipType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://www.siebel.com/xml/SBT%20Contact"
 xmlns:xsdLocal2="http://www.siebel.com/xml/SBT%20Contact"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSbtContact"
 type="xsdLocal2:ListOfSbtContact"
></xsd:element
><xsd:complexType
 name="ListOfSbtContactTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSbtContact"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal2:ListOfSbtContact"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtContact"
><xsd:sequence
><xsd:element
 name="Contact"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:Contact"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Contact"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Created"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCellularPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Citizenship"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DateofBirth"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmailAddress2"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="FirstName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTWorkPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IsAgent"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="JobTitle"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="LastName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MF"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MaritalStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MiddleName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PlaceofBirth"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRegDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerDepartment"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerExtEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPersonalPhone"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAdditionalOccupation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTEducation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTEducationDescription"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTINN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerDO"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerGOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerTerBank"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOccupation"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSNILS"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTYearsofService"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAvatarURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPhotoLURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPhotoSURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAttractionChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTFax"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSourceSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStatusChangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EmployeeNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBankCRMEmployeeId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAbout"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRatingINT"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfSbtAuthorizationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfSbtAuthorizationStatus"
></xsd:element
><xsd:element
 name="ListOfCutAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfCutAddress"
></xsd:element
><xsd:element
 name="ListOfSbtContactRelatives"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfSbtContactRelatives"
></xsd:element
><xsd:element
 name="ListOfSbtDocument"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal2:ListOfSbtDocument"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtAuthorizationStatus"
><xsd:sequence
><xsd:element
 name="SbtAuthorizationStatus"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:SbtAuthorizationStatus"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtAuthorizationStatus"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="DateChange"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTServiceBack"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ChannelCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCutAddress"
><xsd:sequence
><xsd:element
 name="CutAddress"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:CutAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CutAddress"
><xsd:sequence
><xsd:element
 name="ApartmentNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Province"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTActual"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAddressType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBuilding"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTHouse"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTJuridical"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPostal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTUnit"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StreetAddress"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAppartment"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRegion"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSettlement"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAddressTypeCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtContactRelatives"
><xsd:sequence
><xsd:element
 name="SbtContactRelatives"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:SbtContactRelatives"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtContactRelatives"
><xsd:sequence
><xsd:element
 name="SBTRelation"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationType"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtDocument"
><xsd:sequence
><xsd:element
 name="SbtDocument"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal2:SbtDocument"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtDocument"
><xsd:sequence
><xsd:element
 name="DocNum"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IssueDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IssueOrg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="OrgCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Seria"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StatusChangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="TypeCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://www.siebel.com/xml/SBT%20Party%20Relationship%20To"
 xmlns:xsdLocal3="http://www.siebel.com/xml/SBT%20Party%20Relationship%20To"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSbtPartyRelationshipTo"
 type="xsdLocal3:ListOfSbtPartyRelationshipTo"
></xsd:element
><xsd:complexType
 name="ListOfSbtPartyRelationshipToTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSbtPartyRelationshipTo"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal3:ListOfSbtPartyRelationshipTo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtPartyRelationshipTo"
><xsd:sequence
><xsd:element
 name="SbtPartyRelationshipTo"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal3:SbtPartyRelationshipTo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtPartyRelationshipTo"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelatedAccountIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelatedContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipType"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBckwrdRelationshipType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationshipClass"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSourceSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfSbtAuthorizationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal3:ListOfSbtAuthorizationStatus"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtAuthorizationStatus"
><xsd:sequence
><xsd:element
 name="SbtAuthorizationStatus"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal3:SbtAuthorizationStatus"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtAuthorizationStatus"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTServiceBack"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ChannelCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://www.siebel.com/xml/SBT%20Account"
 xmlns:xsdLocal5="http://www.siebel.com/xml/SBT%20Account"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSbtAccount"
 type="xsdLocal5:ListOfSbtAccount"
></xsd:element
><xsd:complexType
 name="ListOfSbtAccountTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSbtAccount"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal5:ListOfSbtAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtAccount"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountStatus"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HomePage"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MainEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NumberofEmployees"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBIK"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCurAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTDateReg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTDateStateReg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTINN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTKPP"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTMainFaxNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTMainPhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOGRN"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKATO"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKPO"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKVED"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOPF"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTrademark"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAttractionChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCompanySize"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKFS"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKOGU"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTShortName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStateRegDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStateRegPlace"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTaxRate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTaxSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSourceSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStatusChangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountStatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAbout"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCountryCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTForeignTaxId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTLastCallDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTLogoURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPictureURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRatingINT"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPrimaryContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPrimaryManagerIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerGOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerTB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerVSP"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfCutAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal5:ListOfCutAddress"
></xsd:element
><xsd:element
 name="ListOfPartyRelationshipTo"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal5:ListOfPartyRelationshipTo"
></xsd:element
><xsd:element
 name="ListOfBckwrdPartyRelTo"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal5:ListOfBckwrdPartyRelTo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCutAddress"
><xsd:sequence
><xsd:element
 name="CutAddress"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:CutAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CutAddress"
><xsd:sequence
><xsd:element
 name="ApartmentNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Province"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StreetAddress"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTActual"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBuilding"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTHouse"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTJuridical"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPostal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTUnit"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAddressType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAppartment"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRegion"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSettlement"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAddressTypeCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfPartyRelationshipTo"
><xsd:sequence
><xsd:element
 name="PartyRelationshipTo"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:PartyRelationshipTo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="PartyRelationshipTo"
><xsd:sequence
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelatedAccountIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelatedContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipType"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBckwrdRelationshipType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfBckwrdPartyRelTo"
><xsd:sequence
><xsd:element
 name="BckwrdPartyRelTo"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal5:BckwrdPartyRelTo"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="BckwrdPartyRelTo"
><xsd:sequence
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="EndDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="RelationshipType"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBckwrdRelationshipType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StartDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRelationStatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
><xsd:schema
 elementFormDefault="qualified"
 attributeFormDefault="unqualified"
 targetNamespace="http://www.siebel.com/xml/SBT%20Account"
 xmlns:xsdLocal4="http://www.siebel.com/xml/SBT%20Account"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
><xsd:annotation
><xsd:documentation
>Copyright (C) 2001-2004 Siebel Systems, Inc. All rights reserved. Siebel XSD Generation</xsd:documentation
></xsd:annotation
><xsd:element
 name="ListOfSbtAccount"
 type="xsdLocal4:ListOfSbtAccount"
></xsd:element
><xsd:complexType
 name="ListOfSbtAccountTopElmt"
><xsd:sequence
><xsd:element
 name="ListOfSbtAccount"
 maxOccurs="1"
 minOccurs="1"
 type="xsdLocal4:ListOfSbtAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtAccount"
><xsd:sequence
><xsd:element
 name="Account"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:Account"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="Account"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Updated"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountStatus"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="HomePage"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="IntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="MainEmailAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="NumberofEmployees"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBIK"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCurAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTDateReg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTDateStateReg"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTINN"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTKPP"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTMainFaxNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTMainPhoneNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTName"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOGRN"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKATO"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKPO"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKVED"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOPF"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTrademark"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Type"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAttractionChannel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCompanySize"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKFS"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTOKOGU"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTShortName"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStateRegDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStateRegPlace"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTaxRate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTTaxSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSourceSystem"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTStatusChangeDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="AccountStatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAbout"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTCountryCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTForeignTaxId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTLastCallDate"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTLogoURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPictureURL"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRatingINT"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPrimaryContactIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPrimaryManagerIntegrationId"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerGOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerOSB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerTB"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTManagerVSP"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ListOfCutAddress"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal4:ListOfCutAddress"
></xsd:element
><xsd:element
 name="ListOfSbtAuthorizationStatus"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal4:ListOfSbtAuthorizationStatus"
></xsd:element
><xsd:element
 name="ListOfSbtCurrentAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal4:ListOfSbtCurrentAccount"
></xsd:element
><xsd:element
 name="ListOfSbtOkved"
 maxOccurs="1"
 minOccurs="0"
 type="xsdLocal4:ListOfSbtOkved"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfCutAddress"
><xsd:sequence
><xsd:element
 name="CutAddress"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:CutAddress"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="CutAddress"
><xsd:sequence
><xsd:element
 name="ApartmentNumber"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="City"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Country"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PostalCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Province"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StreetAddress"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTActual"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTBuilding"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTHouse"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTJuridical"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTPostal"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTUnit"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAddressType"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAppartment"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTRegion"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTSettlement"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTAddressTypeCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtAuthorizationStatus"
><xsd:sequence
><xsd:element
 name="SbtAuthorizationStatus"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:SbtAuthorizationStatus"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtAuthorizationStatus"
><xsd:sequence
><xsd:element
 name="Id"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Channel"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Status"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="SBTServiceBack"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ChannelCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="StatusCode"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtCurrentAccount"
><xsd:sequence
><xsd:element
 name="SbtCurrentAccount"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:SbtCurrentAccount"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtCurrentAccount"
><xsd:sequence
><xsd:element
 name="BIK"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="Bank"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CorrespondentAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="CurrentAccount"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryCurrentAccount"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="ListOfSbtOkved"
><xsd:sequence
><xsd:element
 name="SbtOkved"
 maxOccurs="unbounded"
 minOccurs="0"
 type="xsdLocal4:SbtOkved"
></xsd:element
></xsd:sequence
></xsd:complexType
><xsd:complexType
 name="SbtOkved"
><xsd:sequence
><xsd:element
 name="CodeOKVED"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
><xsd:element
 name="PrimaryOKVED"
 maxOccurs="1"
 minOccurs="0"
 type="xsd:string"
></xsd:element
><xsd:element
 name="ValueOKVED"
 maxOccurs="1"
 minOccurs="1"
 type="xsd:string"
></xsd:element
></xsd:sequence
></xsd:complexType
></xsd:schema
></types
><message
 name="SBTOpptyQueryPage_Input"
><part
 name="SBTOpptyQueryPage_Input"
 element="tns:SBTOpptyQueryPage_Input"
></part
></message
><message
 name="SBTOpptyQueryPage_Output"
><part
 name="SBTOpptyQueryPage_Output"
 element="tns:SBTOpptyQueryPage_Output"
></part
></message
><message
 name="SBTContactQueryPage_Input"
><part
 name="SBTContactQueryPage_Input"
 element="tns:SBTContactQueryPage_Input"
></part
></message
><message
 name="SBTContactQueryPage_Output"
><part
 name="SBTContactQueryPage_Output"
 element="tns:SBTContactQueryPage_Output"
></part
></message
><message
 name="SBTPartyRelQueryPage_Input"
><part
 name="SBTPartyRelQueryPage_Input"
 element="tns:SBTPartyRelQueryPage_Input"
></part
></message
><message
 name="SBTPartyRelQueryPage_Output"
><part
 name="SBTPartyRelQueryPage_Output"
 element="tns:SBTPartyRelQueryPage_Output"
></part
></message
><message
 name="SBTAccountQueryPage_Input"
><part
 name="SBTAccountQueryPage_Input"
 element="tns:SBTAccountQueryPage_Input"
></part
></message
><message
 name="SBTAccountQueryPage_Output"
><part
 name="SBTAccountQueryPage_Output"
 element="tns:SBTAccountQueryPage_Output"
></part
></message
><message
 name="SBTAccountLiteQueryPage_Input"
><part
 name="SBTAccountLiteQueryPage_Input"
 element="tns:SBTAccountLiteQueryPage_Input"
></part
></message
><message
 name="SBTAccountLiteQueryPage_Output"
><part
 name="SBTAccountLiteQueryPage_Output"
 element="tns:SBTAccountLiteQueryPage_Output"
></part
></message
><message
 name="SBTContactLiteQueryPage_Input"
><part
 name="SBTContactLiteQueryPage_Input"
 element="tns:SBTContactLiteQueryPage_Input"
></part
></message
><message
 name="SBTContactLiteQueryPage_Output"
><part
 name="SBTContactLiteQueryPage_Output"
 element="tns:SBTContactLiteQueryPage_Output"
></part
></message
><portType
 name="OpptyQueryPage"
><operation
 name="SBTOpptyQueryPage"
><input
 message="tns:SBTOpptyQueryPage_Input"
></input
><output
 message="tns:SBTOpptyQueryPage_Output"
></output
></operation
></portType
><portType
 name="ContactQueryPage"
><operation
 name="SBTContactQueryPage"
><input
 message="tns:SBTContactQueryPage_Input"
></input
><output
 message="tns:SBTContactQueryPage_Output"
></output
></operation
></portType
><portType
 name="PartyRelQueryPage"
><operation
 name="SBTPartyRelQueryPage"
><input
 message="tns:SBTPartyRelQueryPage_Input"
></input
><output
 message="tns:SBTPartyRelQueryPage_Output"
></output
></operation
></portType
><portType
 name="AccountQueryPage"
><operation
 name="SBTAccountQueryPage"
><input
 message="tns:SBTAccountQueryPage_Input"
></input
><output
 message="tns:SBTAccountQueryPage_Output"
></output
></operation
></portType
><portType
 name="AccountLiteQueryPage"
><operation
 name="SBTAccountLiteQueryPage"
><input
 message="tns:SBTAccountLiteQueryPage_Input"
></input
><output
 message="tns:SBTAccountLiteQueryPage_Output"
></output
></operation
></portType
><portType
 name="ContactLiteQueryPage"
><operation
 name="SBTContactLiteQueryPage"
><input
 message="tns:SBTContactLiteQueryPage_Input"
></input
><output
 message="tns:SBTContactLiteQueryPage_Output"
></output
></operation
></portType
><binding
 name="OpptyQueryPage"
 type="tns:OpptyQueryPage"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="SBTOpptyQueryPage"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:SBTOpptyQueryPage"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><binding
 name="ContactQueryPage"
 type="tns:ContactQueryPage"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="SBTContactQueryPage"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:SBTContactQueryPage"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><binding
 name="PartyRelQueryPage"
 type="tns:PartyRelQueryPage"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="SBTPartyRelQueryPage"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:SBTPartyRelQueryPage"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><binding
 name="AccountQueryPage"
 type="tns:AccountQueryPage"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="SBTAccountQueryPage"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:SBTAccountQueryPage"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><binding
 name="AccountLiteQueryPage"
 type="tns:AccountLiteQueryPage"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="SBTAccountLiteQueryPage"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:SBTAccountLiteQueryPage"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><binding
 name="ContactLiteQueryPage"
 type="tns:ContactLiteQueryPage"
><soap:binding
 transport="http://schemas.xmlsoap.org/soap/http"
 style="document"
></soap:binding
><operation
 name="SBTContactLiteQueryPage"
><soap:operation
 soapAction="document/http://siebel.com/CustomUI:SBTContactLiteQueryPage"
></soap:operation
><input
><soap:body
 use="literal"
></soap:body
></input
><output
><soap:body
 use="literal"
></soap:body
></output
></operation
></binding
><service
 name="SBT_spcService"
><port
 binding="tns:OpptyQueryPage"
 name="OpptyQueryPage"
><soap:address
 location="https://sbldev.dasreda.ru:8443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
><port
 binding="tns:ContactQueryPage"
 name="ContactQueryPage"
><soap:address
 location="https://sbldev.dasreda.ru:8443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
><port
 binding="tns:PartyRelQueryPage"
 name="PartyRelQueryPage"
><soap:address
 location="https://sbldev.dasreda.ru:8443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
><port
 binding="tns:AccountQueryPage"
 name="AccountQueryPage"
><soap:address
 location="https://sbldev.dasreda.ru:8443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
><port
 binding="tns:AccountLiteQueryPage"
 name="AccountLiteQueryPage"
><soap:address
 location="https://sbldev.dasreda.ru:8443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
><port
 binding="tns:ContactLiteQueryPage"
 name="ContactLiteQueryPage"
><soap:address
 location="https://sbldev.dasreda.ru:8443/eai_anon_rus/start.swe?SWEExtSource=SecureWebService&amp;SWEExtCmd=Execute"
></soap:address
></port
></service
></definitions
>